<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/index/css/single_wap.css?v=201909090928">
    <script src="/static/index/js/dtksatc.js?v=20190909153000" name="DTKSATC" tid="dtk-cms-1271627" uid="null"></script>
    <script src="/static/index/js/stats.js?v2.0.4" name="MTAH5" sid="500625431" cid="500625432"></script>
    <script type="text/javascript" src="/static/index/js/clipboard.min.js"></script>
    <title>淘宝/天猫,每日精选专场，整 点开抢_阿妈券淘宝/天猫精选</title>
    <meta name="Keywords" content="每日精选,优惠券折扣,精品折扣,精选商品,精选优惠券,阿妈券淘宝/天猫精选">
    <meta name="Description" content="每天精选百款优惠券商品，全部人工筛选，专业砍价，大量优惠券独享，每天9点准时开抢！">

    <script src="/static/index/js/jquery.min.js?v=201909090928"></script>
</head>


<body data-appid="1271627" data-in="1">



<!-- 主界面具体展示内容 -->
<script src="/static/index/js/lazyload.js?v=201909090928"></script>

<div class="main">
    <div class="single_nine_banner">
        <img src="{$banner['imgs']}" alt="">
    </div>
    <div class="single_wrap">

         <!--
        <div class="single_mod_item time_kill">
            <div class="single_nine_banner_txt">
                <img src="https://cmsstatic.dataoke.com//web/images/single_choice/choice_banner.png" alt="">
                <span>预告提前看 优惠不错过</span>
            </div>
            <div class="kill_time">
                <div class="kill_time_scroll_main">
                    <div class="kill_time_scroll">
                        <ul style="width: 774px;">
                            <li class="time_out" style="width: 86px;">
                                <span>00:00</span>
                                <p>已抢完</p>

                            </li>
                            <li class="time_out" style="width: 86px;">
                                <span>08:00</span>
                                <p>已抢完</p>

                            </li>
                            <li class="time_out" style="width: 86px;">
                                <span>10:00</span>
                                <p>已抢完</p>

                            </li>
                            <li class="time_out" style="width: 86px;">
                                <span>13:00</span>
                                <p>已抢完</p>

                            </li>
                            <li class="" style="width: 86px;">

                                <a data-time="15" href="javascript:void(0)" class="cur">
                                    <span>15:00</span>
                                    <p>抢购进行中</p>
                                </a>

                            </li>
                            <li class="" style="width: 86px;">

                                <a data-time="17" href="javascript:void(0)">
                                    <span>17:00</span>
                                    <p class="goods-soon">即将开始</p>
                                </a>

                            </li>
                            <li class="" style="width: 86px;">

                                <a data-time="19" href="javascript:void(0)">
                                    <span>19:00</span>
                                    <p class="goods-soon">即将开始</p>
                                </a>

                            </li>
                            <li class="" style="width: 86px;">

                                <a data-time="20" href="javascript:void(0)">
                                    <span>20:00</span>
                                    <p class="goods-soon">即将开始</p>
                                </a>

                            </li>
                            <li class="" style="width: 86px;">

                                <a data-time="21" href="javascript:void(0)">
                                    <span>21:00</span>
                                    <p class="goods-soon">即将开始</p>
                                </a>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <p class="out_time">距离本场<font>结束</font> <span>01</span>:<span>20</span>:<span>59</span></p>
            <div class="single_main">

                <ul style="width: 775px;">
                    <li>
                        <div class="goods_pic">
                            <a target="_blank" href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22083773">
                                <img src="https://img.alicdn.com/imgextra/i4/1985763176/O1CN01jWslAu1ZKeSKcsUrc_!!1985763176.png_310x310.jpg">
                            </a>
                        </div>
                        <div class="goods_info">

                            <div class="goods_tit">
                                <a target="_blank" href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22083773">韩版百搭棒球帽遮阳鸭舌帽</a>
                            </div>
                            <div class="goods_price">秒杀价：<b><i>￥</i>9</b></div>
                            <div class="goods_coupon_num">
                                <span class="fl">领券减<b>10元</b></span>
                                <span class="fr">销量<b>1.3万</b></span>
                            </div>
                            <a href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22083773" target="_blank" class="go_buy">立即秒杀<i></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="goods_pic">
                            <a target="_blank" href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22080802">
                                <img src="https://img.alicdn.com/imgextra/i4/2201242268147/O1CN01D68QvX2A3NHYBndtb_!!2201242268147.jpg_310x310.jpg">
                            </a>
                        </div>
                        <div class="goods_info">

                            <div class="goods_tit">
                                <a target="_blank" href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22080802">金典麦香牛奶麦片即食懒人早餐小袋装</a>
                            </div>
                            <div class="goods_price">秒杀价：<b><i>￥</i>9.9</b></div>
                            <div class="goods_coupon_num">
                                <span class="fl">领券减<b>5元</b></span>
                                <span class="fr">销量<b>1450</b></span>
                            </div>
                            <a href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22080802" target="_blank" class="go_buy">立即秒杀<i></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="goods_pic">
                            <a target="_blank" href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22084981">
                                <img src="https://img.alicdn.com/imgextra/i1/1660168936/O1CN01K7DBcm2FsjnSg4chI_!!1660168936.jpg_310x310.jpg">
                            </a>
                        </div>
                        <div class="goods_info">

                            <div class="goods_tit">
                                <a target="_blank" href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22084981">【ABD】咸蛋黄麦芽饼干4大袋</a>
                            </div>
                            <div class="goods_price">秒杀价：<b><i>￥</i>13.99</b></div>
                            <div class="goods_coupon_num">
                                <span class="fl">领券减<b>3元</b></span>
                                <span class="fr">销量<b>18.7万</b></span>
                            </div>
                            <a href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22084981" target="_blank" class="go_buy">立即秒杀<i></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="goods_pic">
                            <a target="_blank" href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22083402">
                                <img src="https://img.alicdn.com/imgextra/i3/376460581/O1CN01MxNCzq1GA8drlYhzf_!!376460581.jpg_310x310.jpg">
                            </a>
                        </div>
                        <div class="goods_info">

                            <div class="goods_tit">
                                <a target="_blank" href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22083402">降价了！佑天兰旗舰店艳肌面膜3盒</a>
                            </div>
                            <div class="goods_price">秒杀价：<b><i>￥</i>84</b></div>
                            <div class="goods_coupon_num">
                                <span class="fl">领券减<b>15元</b></span>
                                <span class="fr">销量<b>4940</b></span>
                            </div>
                            <a href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22083402" target="_blank" class="go_buy">立即秒杀<i></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="goods_pic">
                            <a target="_blank" href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22085038">
                                <img src="https://img.alicdn.com/imgextra/i3/207244664/O1CN01S2gRDP1kK9o17S003_!!207244664.jpg_310x310.jpg">
                            </a>
                        </div>
                        <div class="goods_info">

                            <div class="goods_tit">
                                <a target="_blank" href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22085038">【次日达】雀巢咖啡210ml*24整箱装</a>
                            </div>
                            <div class="goods_price">秒杀价：<b><i>￥</i>87</b></div>
                            <div class="goods_coupon_num">
                                <span class="fl">领券减<b>12元</b></span>
                                <span class="fr">销量<b>5583</b></span>
                            </div>
                            <a href="/index.php?r=s/miu&amp;i=ad462f&amp;id=22085038" target="_blank" class="go_buy">立即秒杀<i></i></a>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
        -->



        <div class="single_mod_item buy_today">
            <div class="single_head">
                <h2><span>每日必抢</span></h2>
                <p>用心精选 只为证明品质的极致</p>
            </div>

            <div class="single_main">
                <ul>
                  {volist name="bi" id="vo"}
                    <li>
                        <div class="goods_pic fl">
                            <div class="goods_coupon">
                                <span>领券直降</span>
                                <b><i></i>{$vo.jiang}</b>
                            </div>
                            <a target="_blank" href="{$vo.url|default='#'}">
                                <img class="lazy" src="{$vo.imgs|default=''}" data-original="" alt="" style="background: rgb(245, 245, 245); display: inline;">

                            </a>
                        </div>
                        <div class="goods_info fr">
                            <div class="goods_sell">爆卖{$vo.bao}万件</div>
                            <div class="goods_tit"><a target="_blank" href="{$vo.url|default='#'}">{$vo.title}</a></div>
                            <div class="goods_desc">{$vo.key|default=''}</div>
                            <div class="goods_price">券后价<b><i>￥</i>{$vo.money|default=''}</b></div>
                            <div class="go_buy">
                                <a href="{$vo.url|default='#'}" target="_blank">每日限量开抢<i></i></a>
                            </div>
                        </div>
                    </li>
                    {/volist}

                </ul>

            </div>
        </div>

        <div class="single_mod_item single_mod_item_def single_mod_item_4">
            <div class="single_head"><h2><span>男神新装</span></h2>
                <p>千篇一律 不如特立独行</p></div>
            <div class="single_main">
                <ul>
                    {volist name='t1' id='v1'}
                    <li>
                        <div class="goods_pic">
                            <a target="_blank"
                               href="{$v1.url|default='#'}">
                                <img class="lazy" src="{$v1.imgs|default=''}" data-original="{$v1.imgs|default=''}" style="background: rgb(245, 245, 245); display: inline;"></a></div>
                        <div class="goods_info">
                            <div class="goods_tit">
                                <a target="_blank" href="{$v1.url|default='#'}">{$v1.title|default=''}</a>
                            </div>
                            <div class="goods_price_coupon"><span class="fl goods_price"><b><i>￥</i>{$v1.money}</b></span><span
                                    class="fr goods_coupon">领券直降<b><i>￥</i>{$v1.jiang|floatval}</b></span></div>
                            <div class="go_buy"><span class="fl"><b>{$v1.ren|default='100'}</b>人已抢</span><a
                                    href="{$v1.url|default='#'}" class="fr" target="_blank">立即抢购</a>
                            </div>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>

        <div class="single_mod_item single_mod_item_def single_mod_item_3">
            <div class="single_head"><h2><span>女神穿搭</span></h2>
                <p>你与女神的距离或许只是因为错过了它</p></div>
            <div class="single_main">
                <ul>
                    {volist name='t2' id='v2'}
                    <li>
                        <div class="goods_pic">
                            <a target="_blank"
                               href="{$v2.url|default='#'}">
                                <img class="lazy" src="{$v2.imgs|default=''}"
                                data-original="{$v2.imgs|default=''}"></a>
                        </div>
                        <div class="goods_info">
                            <div class="goods_tit">
                                <a target="_blank"
                                   href="{$v2.url|default='#'}">{$v2.title}</a>
                            </div>
                            <div class="goods_price_coupon"><span class="fl goods_price"><b><i>￥</i>{$v2.money}</b></span><span
                                    class="fr goods_coupon">领券直降<b><i>￥</i>{$v2.jiang|floatval}</b></span></div>
                            <div class="go_buy"><span class="fl"><b>{$v2.ren}</b>人已抢</span><a
                                    href="$v2.url|default='#'" class="fr" target="_blank">立即抢购</a>
                            </div>
                        </div>
                    </li>
                    {/volist}

                </ul>
            </div>
        </div>

        <div class="single_mod_item single_mod_item_def single_mod_item_5">
            <div class="single_head"><h2><span>精品美妆</span></h2>
                <p>解锁美丽新姿势</p></div>
            <div class="single_main">
                <ul>
                    {volist name='t3' id='v3'}
                    <li>
                        <div class="goods_pic">
                            <a target="_blank"
                             href="{$v3.url|default='#'}">
                                <img
                                class="lazy" src="{$v3.imgs}"
                                data-original="{$v3.imgs}"></a>
                        </div>
                        <div class="goods_info">
                            <div class="goods_tit"><a target="_blank"
                                                      href="{$v3.url|default='#'}">{$v3.title|default='#'}</a></div>
                            <div class="goods_price_coupon"><span class="fl goods_price"><b><i>￥</i>{$v3.money|floatval}</b></span><span
                                    class="fr goods_coupon">领券直降<b><i>￥</i>{$v3.jiang|floatval}</b></span></div>
                            <div class="go_buy"><span class="fl"><b>{$v3.ren}</b>人已抢</span><a
                                    href="{$v3.url|default='#'}" class="fr" target="_blank">立即抢购</a>
                            </div>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>

        <div class="single_mod_item single_mod_item_def single_mod_item_6">
            <div class="single_head"><h2><span>舒适内衣</span></h2>
                <p>碰触的是柔软 穿着的是舒适</p></div>
            <div class="single_main">
                <ul>
                    {volist name='t4' id='v4'}
                    <li>
                        <div class="goods_pic"><a target="_blank"
                                                  href="{$v4.url|default='#'}"><img
                                class="lazy" src="{$v4.imgs|default=''}"
                                data-original="{$v4.imgs|default=''}"></a>
                        </div>
                        <div class="goods_info">
                            <div class="goods_tit"><a target="_blank"
                                                      href="{$v4.imgs|default='#'}">{$v4.title|default='#'}</a>
                            </div>
                            <div class="goods_price_coupon"><span class="fl goods_price"><b><i>￥</i>{$v4.money|floatval}</b></span><span
                                    class="fr goods_coupon">领券直降<b><i>￥</i>{$v4.jiang|floatval}</b></span></div>
                            <div class="go_buy"><span class="fl"><b>{$v4.ren}</b>人已抢</span><a
                                    href="{$v4.url|default='#'}" class="fr" target="_blank">立即抢购</a>
                            </div>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>

        <div class="single_mod_item single_mod_item_def single_mod_item_7">
            <div class="single_head"><h2><span>鞋包配饰</span></h2>
                <p>看不见的心机 看得见的精致</p></div>
            <div class="single_main">
                <ul>
                    {volist name='t5' id='v5'}
                    <li>
                        <div class="goods_pic"><a target="_blank"
                                                  href="{$v5.url|default='#'}"><img
                                class="lazy" src="{$v5.imgs|default='#'}"
                                data-original="{$v5.imgs|default='#'}"></a>
                        </div>
                        <div class="goods_info">
                            <div class="goods_tit"><a target="_blank"
                                                      href="{$v5.url|default='#'}">{$v5.title}</a>
                            </div>
                            <div class="goods_price_coupon"><span class="fl goods_price"><b><i>￥</i>{$v5.money|floatval}</b></span><span
                                    class="fr goods_coupon">领券直降<b><i>￥</i>{$v5.jiang|floatval}</b></span></div>
                            <div class="go_buy"><span class="fl"><b>{$v5.ren}</b>人已抢</span><a
                                    href="{$v.url|default='#'}" class="fr" target="_blank">立即抢购</a>
                            </div>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>

        <div class="single_mod_item single_mod_item_def single_mod_item_8">
            <div class="single_head"><h2><span>潮妈必选</span></h2>
                <p>百万宝妈首选，爱Ta就给Ta最好的</p></div>
            <div class="single_main">
                <ul>
                    {volist name='t6' id='v6'}
                    <li>
                        <div class="goods_pic"><a target="_blank"
                                                  href="{$v6.url|default='#'}">
                            <img class="lazy" src="{$v6.imgs|default='#'}"
                                data-original="{$v6.imgs|default='#'}"></a>
                        </div>
                        <div class="goods_info">
                            <div class="goods_tit"><a target="_blank"
                                                      href="{$v6.url|default='#'}">{$v6.title|default=''}</a>
                            </div>
                            <div class="goods_price_coupon"><span class="fl goods_price"><b><i>￥</i>{$v6.money|floatval}</b></span><span
                                    class="fr goods_coupon">领券直降<b><i>￥</i>{$v6.jiang|floatval}</b></span></div>
                            <div class="go_buy"><span class="fl"><b>{$v6.ren}</b>人已抢</span><a
                                    href="{$v6.url|default='#'}" class="fr" target="_blank">立即抢购</a>
                            </div>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>

        <div class="single_mod_item single_mod_item_def single_mod_item_9">
            <div class="single_head"><h2><span>舌尖美食</span></h2>
                <p>生活的态度 是追剧解馋必备</p></div>
            <div class="single_main">
                <ul>
                    {volist name='t7' id='v7'}
                    <li>
                        <div class="goods_pic"><a target="_blank"
                                                  href="{$v7.url|default='#'}"><img
                                class="lazy" src="{$v7.imgs}"
                                data-original="{$v7.imgs}"></a>
                        </div>
                        <div class="goods_info">
                            <div class="goods_tit"><a target="_blank"
                                                      href="{$v7.url|default='#'}">{$v7.title}</a>
                            </div>
                            <div class="goods_price_coupon"><span class="fl goods_price"><b><i>￥</i>{$v7.money|floatval}</b></span><span
                                    class="fr goods_coupon">领券直降<b><i>￥</i>{$v7.jiang|floatval}</b></span></div>
                            <div class="go_buy"><span class="fl"><b>{$v7.ren}</b>人已抢</span><a
                                    href="{$v7.url|default='#'}" class="fr" target="_blank">立即抢购</a>
                            </div>
                        </div>
                    </li>
                  {/volist}
                </ul>
            </div>
        </div>

        <div class="single_mod_item single_mod_item_def single_mod_item_10">
            <div class="single_head"><h2><span>日用百货</span></h2>
                <p>小编力荐居家好货，让生活方便不止一点</p></div>
            <div class="single_main">
                <ul>
                    {volist name='t8' id='v8'}
                    <li>
                        <div class="goods_pic"><a target="_blank"
                                                  href="{$v8.url|default='#'}">
                            <img
                                class="lazy" src="{$v8.imgs|default=''}"
                                data-original="{$v8.imgs|default=''}"></a>
                        </div>
                        <div class="goods_info">
                            <div class="goods_tit"><a target="_blank"
                                                      href="{$v8.url|default='#'}">{$v8.title|default=''}</a>
                            </div>
                            <div class="goods_price_coupon"><span class="fl goods_price"><b><i>￥</i>{$v8.money|floatval}</b></span><span
                                    class="fr goods_coupon">领券直降<b><i>￥</i>{$v8.jiang|floatval}</b></span></div>
                            <div class="go_buy"><span class="fl"><b>{$v8.ren|default=''}</b>人已抢</span><a
                                    href="{$v8.url|default='#'}" class="fr" target="_blank">立即抢购</a>
                            </div>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>

        <div class="single_mod_item single_mod_item_def single_mod_item_11">
            <div class="single_head"><h2><span>数码家电</span></h2>
                <p>好物良心鉴 爆款大推荐</p></div>
            <div class="single_main">
                <ul>
                    {volist name='t9' id='v9'}
                    <li>
                        <div class="goods_pic"><a target="_blank"
                                                  href="{$v9.url|default='#'}">
                            <img
                                class="lazy" src="{$v9.imgs|default=''}"
                                data-original="{$v9.imgs|default=''}"></a>
                        </div>
                        <div class="goods_info">
                            <div class="goods_tit"><a target="_blank"
                                                      href="{$v9.url|default='#'}">{$v9.title|default=''}</a>
                            </div>
                            <div class="goods_price_coupon"><span class="fl goods_price"><b><i>￥</i>{$v9.money|floatval}</b></span><span
                                    class="fr goods_coupon">领券直降<b><i>￥</i>{$v9.jiang|floatval}</b></span></div>
                            <div class="go_buy"><span class="fl"><b>{$v9.ren|default=''}</b>人已抢</span><a
                                    href="{$v9.url|default='#'}" class="fr" target="_blank">立即抢购</a>
                            </div>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="fast_menu hide">
    <div class="fast_menu_main">
        <ul style="width: 935px; left: 0px;">
            <li class="cur" style="width: 85px;"><span>限时秒杀</span></li>
            <li style="width: 85px;"><span>每日必抢</span></li>
            <li style="width: 85px;"><span>男神新装</span></li>
            <li style="width: 85px;"><span>女神穿搭</span></li>
            <li style="width: 85px;"><span>精品美妆</span></li>
            <li style="width: 85px;"><span>舒适内衣</span></li>
            <li style="width: 85px;"><span>鞋包配饰</span></li>
            <li style="width: 85px;"><span>潮妈必选</span></li>
            <li style="width: 85px;"><span>舌尖美食</span></li>
            <li style="width: 85px;"><span>日用百货</span></li>
            <li style="width: 85px;"><span>数码家电</span></li>
        </ul>
    </div>
    <div class="fast_right">
        <img src="{$foot.imgs}" alt="">
    </div>
</div>

<div class="single_bottom">
    <img src="https://cmsstatic.dataoke.com//web/images/single_choice/wap_bottom.png" alt="">
</div>

<div class="toTop" style="display: block;" data-url="01"></div>



<div style="display: none;">
</div>

<script>
    $('.toTop').click(function(){$('html,body').animate({scrollTop: '0px'}, 800);});
</script>

</body>
</html>